# Beginner Python Questions
Topics: variables, data types, arithmetic operators, print statement

## 1. Calculate the Total Bill
A restaurant bill is ₹450. GST is 18%. Calculate the final bill amount.

In [ ]:
# Write your solution here
bill=450
gst=0.18*bill
final_bill=bill+gst
print(final_bill)

531.0

grocery bill

In [ ]:
veg=500
v_gst=0.08*veg
discount_veg=0.5*veg
milk=60
m_gst=0.1*milk
discount_milk=0.2*milk
total=(veg+v_gst-discount_veg)+(milk+m_gst-discount_milk)
print(total)

344.0

In [ ]:
percentage="18%"
print(type(percentage))

<class 'str'>

## 2. Combine Two Numbers
Create two variables `a = 7` and `b = 3` and compute sum, difference, product, and a^b.

In [ ]:
# Write your solution here
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a**b)

10
4
21
343

## 3. Temperature Converter
Convert 36°C to Fahrenheit using F = (C * 9/5) + 32.

In [ ]:
c=36
f=(c*9/5)+32
print(f)

96.8

## 4. Movie Ticket Cost Calculator
Movie ticket = 180, popcorn = 120. Calculate total for 2 tickets + 1 popcorn and 3 tickets + 0 popcorn.

In [ ]:
# Write your solution here
movie_ticket=180
popcorn=120
bill_one=2*movie_ticket+popcorn
bill_two=3*movie_ticket+0*popcorn
print(bill_one)
print(bill_two)

480
540

In [ ]:
one_product=125
total_no_of_products=370
revenue=total_no_of_products*one_product
print(revenue)
gst=.18*revenue
pat=revenue-gst
print(pat)

46250
37925.0

question

In [ ]:
revenue_2023=263.5
revenue_2024=426.3
percentage_growth=(revenue_2023/revenue_2024)*100
print(int(percentage_growth))

61

## 5. Area of a Circle
Radius = 5. Calculate area using 3.14 * r * r.

In [ ]:
# Write your solution here

Radius=5
area=3.14*Radius*Radius
print(area)

78.5