### Easy 1

**Question:**  
Create a list of 5 integers and print it.

**Approach:**  
Create a list using square brackets and use print().

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
print(nums)

[1, 2, 3, 4, 5]

### Easy 2

**Question:**  
Find the length of a given list.

**Approach:**  
Use the built-in len() function.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
print(len(nums))

5

### Easy 3

**Question:**  
Access and print the last element of a list.

**Approach:**  
Use negative indexing.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
nums=nums[-1]
print(nums)

5

### Easy 4

**Question:**  
Add an element to the end of a list.

**Approach:**  
Use the append() method.

In [ ]:
# Write your code here
nums=[10,20,30,40,50,60,70]
nums.append(100)
print(nums)

[10, 20, 30, 40, 50, 60, 70, 100]

### Easy 5

**Question:**  
Remove the first element from a list.

**Approach:**  
Use pop(0) or slicing.

In [ ]:
# Write your code here
nums=[11,22,33,44,55,66,77]
nums.pop(0)
print(nums)

[22, 33, 44, 55, 66, 77]

### Medium 1

**Question:**  
Print all elements of a list using a loop.

**Approach:**  
Iterate using a for loop.

In [ ]:
# Write your code here
list=[1,2,3,4,5,6,7]
for i in list:
  print(i)

1
2
3
4
5
6
7

### Medium 2

**Question:**  
Find the sum of all elements in a list.

**Approach:**  
Initialize sum = 0 and add elements in loop.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
sum=0
for i in nums:
  sum=sum+i
  print(sum)

1
3
6
10
15

### Medium 3

**Question:**  
Count how many even numbers are in a list.

**Approach:**  
Check element % 2 == 0 inside loop.

In [ ]:
# Write your code here
nums=[1,2,3,4,5,6,7,8]
count=0
for i in nums:
  if i%2==0:
    count+=1
print(count)

4

### Medium 4

**Question:**  
Find the maximum element without using max().

**Approach:**  
Assume first element as max and compare.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
max=nums[0]
for i in nums:
  if i>max:
    max=i
print(max)

5

### Medium 5

**Question:**  
Reverse a list without using reverse().

**Approach:**  
Traverse list from end or use slicing.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
nums=nums[::-1]
nums

[5, 4, 3, 2, 1]

### Medium 6

**Question:**  
Create a new list with squares of each element.

**Approach:**  
Loop and append square of each element.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
square=[]
for i in nums:
  square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

### Medium 7

**Question:**  
Remove all occurrences of a given value.

**Approach:**  
Loop and remove or use list comprehension.

In [ ]:
# Write your code here
nums=[1,2,1,3,4,1,5,2,3]
value=1
result=[]
for i in nums:
  if i!=value:
    result.append(i)
print(result)

[2, 3, 4, 5, 2, 3]

### Medium 8

**Question:**  
Find the index of a given element manually.

**Approach:**  
Traverse list and compare elements.

In [ ]:
# Write your code here
list=[10,20,30,40,50]
element=20
for i in list:
  if element==i:
    print(list.index(i))

1

### Medium 9

**Question:**  
Merge two lists into one.

**Approach:**  
Use + operator or extend().

In [ ]:
# Write your code here
list1=[10,20,30,40]
list2=[50,60,70,80]
merge=list1+list2
print(merge)

[10, 20, 30, 40, 50, 60, 70, 80]

### Medium 10

**Question:**  
Check if a list is empty.

**Approach:**  
Use len(list) == 0 or direct comparison.

In [ ]:
# Write your code here
list=[]
if len(list)==0:
  print("empty")
else:
  print("non empty")

empty

### Hard 1

**Question:**  
Remove duplicate elements from a list.

**Approach:**  
Use loop and a new list or set.

In [ ]:
# Write your code here
nums=[1,2,3,2,5,1,2]
unique=[]
for i in nums:
  if i not in unique:
    unique.append(i)
print(unique)

[1, 2, 3, 5]

### Hard 2

**Question:**  
Find the second largest element.

**Approach:**  
Track largest and second largest values.

In [ ]:
# Write your code here
numbers=[10,20,30,50,80,0,100]
largest=nums[0]
second_largest=[0]
for i in numbers:
  if i>largest:
    second_largest=largest
    largest=i
  elif i>second_largest and i!=largest:
      second_largest=i
print(second_largest)
print(largest)

80
100

### Hard 3

**Question:**  
Rotate a list to the right by k steps.

**Approach:**  
Use slicing and modulo operation.

In [ ]:
# Write your code here

### Hard 4

**Question:**  
Check if a list is a palindrome.

**Approach:**  
Compare list with its reverse.

In [ ]:
# Write your code here
num=[1,2,3,4,5,6,5,4,3,2,1]
if num==num[ ::-1]:
 print("palindrome")
else:
  print("non palindrome")

palindrome

### Hard 5

**Question:**  
Split a list into even and odd lists.

**Approach:**  
Check each element and append accordingly.

In [ ]:
# Write your code here
nums=[1,2,3,4,5,6,7,8,9]
even_list=[]
odd_list=[]
for i in nums:
  if i%2==0:
    even_list.append(i)
  else:
    odd_list.append(i)
print(even_list)
print(odd_list)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

### Hard 6

**Question:**  
Find common elements between two lists.

**Approach:**  
Use loop or set intersection.

In [ ]:
# Write your code here
list1=[1,2,3,4,5,6,7]
list2=[9,8,7,4,5,6,2,3]
common=[]
for i in list1:
  for j in list2:
    if i==j:
      common.append(j)
print(common)

[2, 3, 4, 5, 6, 7]

### Hard 7

**Question:**  
Create a new list that contains all elements from the given list.

**Approach:**  
Create empty list and append each element.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
new_list=[]
for i in nums:
  new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

### Hard 8

**Question:**  
Find frequency of each element.

**Approach:**  
Use dictionary to count occurrences.

In [ ]:
# Write your code here

### Hard 9

**Question:**  
Move all zeros to end of list.

**Approach:**  
Create two lists or swap in-place.

In [3]:
# Write your code here
list=[10,0,0,0,5,2,4,8,7,6,0,48,510,54,10,0,550]
zero=[]
non_zero=[]
for i in list:
  if i==0:
    zero.append(i)
  else:
    non_zero.append(i)
result=non_zero+zero
print(result)

[10, 5, 2, 4, 8, 7, 6, 48, 510, 54, 10, 550, 0, 0, 0, 0, 0]

### Hard 10

**Question:**  
Count how many times the list values increase compared to the previous value.

**Approach:**  
Compare current and previous values.

In [ ]:
# Write your code here

### Additional Easy 1

**Question:**  
Create an empty list and print it.

**Approach:**  
Use empty square brackets [].

In [ ]:
# Write your code here
list=[]
print(list)

[]

### Additional Easy 2

**Question:**  
Create a list of three numbers and print the first element.

**Approach:**  
Use index 0.

In [ ]:
# Write your code here
list=[10,50,90]
print(list[0])

10

### Additional Easy 3

**Question:**  
Check whether a value exists in a list.

**Approach:**  
Use the in operator.

In [ ]:
# Write your code here
nums=[1,2,3,4,5]
value=7
if value in nums:
  print("yes")
else:
  print("no")

no

### Additional Easy 4

**Question:**  
Replace the second element of a list with a new value.

**Approach:**  
Use index assignment.

In [ ]:
# Write your code here
list=[10,20,30,40,50]
list[1]=100
print(list)

[10, 100, 30, 40, 50]

,`**,### Additional Easy 5

**Question:**  
Print each element of a list on a new line.

**Approach:**  
Use a for loop.

In [ ]:
# Write your code here
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

### Additional Medium 1

**Question:**  
Count how many elements are greater than 10 in a list.

**Approach:**  
Loop and compare each element.

In [ ]:
# Write your code here
nums=[1,2,30,4,50]
count=0
for i in nums:
  if i>10:
    count=count+1
print(count)

2

### Additional Medium 2

**Question:**  
Create a new list containing only positive numbers.

**Approach:**  
Check > 0 and append.

In [ ]:
# Write your code here
list=[-1,-5,2,5,-4,8]
result=[]
for i in list:
  if i>0:
   result.append(i)
print(result)

[2, 5, 8]

### Additional Medium 3

**Question:**  
Find the smallest element without using min().

**Approach:**  
Assume first element as smallest.

In [ ]:
# Write your code here
list=[1,2,4,1,5]
min=list[0]
for i in list:
  if min>i:
    min=i
print(min)

1

### Additional Medium 4

**Question:**  
Create a list in reverse order using a loop.

**Approach:**  
Loop from last index to first.

In [ ]:
# Write your code here
list=[1,2,3,4,5]
list.reverse()
print(list)

[5, 4, 3, 2, 1]

### Additional Medium 5

**Question:**  
Count how many times a given element appears in a list.

**Approach:**  
Use a counter variable.

In [ ]:
# Write your code here
list=[1,2,3,4,1,1,8]
element=1
count=0
for i in list:
  if i==element:
    count=count+1
print(count)

3